In [47]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [43]:
meta_json = 'securities.json'
prices_jsons  = ['prices_2008.json','prices_2009.json','prices_2010.json',
              'prices_2011.json','prices_2012.json','prices_2013.json',
             'prices_2014.json','prices_2015.json','prices_2016.json',
             'prices_2017.json','prices_2018.json','prices_2019.json','prices_2020.json']

info_frame = pd.read_json('dsebd/'+meta_json)
print(info_frame.info())
print(info_frame.head())

prices_frames = []
for i in range(len(prices_jsons)):
    temp_frame = pd.read_json('dsebd/'+prices_jsons[i])
    print(temp_frame.head())
    prices_frames.append(temp_frame)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   trading_code     589 non-null    object
 1   sector           589 non-null    object
 2   instrument_type  589 non-null    object
dtypes: object(3)
memory usage: 13.9+ KB
None
  trading_code                       sector instrument_type
0       ABBANK                         Bank          Equity
1          ACI  Pharmaceuticals & Chemicals          Equity
2         ACFL                      Textile          Equity
3    AAMRATECH                    IT Sector          Equity
4    1JANATAMF                 Mutual Funds     Mutual Fund
        date trading_code  last_traded_price    high    low  opening_price  \
0 2008-12-30      1STBSRS             823.00  840.00  819.0          825.0
1 2008-12-28      1STBSRS             817.00  829.00  802.0          802.0
2 2008-12-24      1STBSRS             789.00  809.75  786.0          790.0
3 2008-12-23      1STBSRS             785.00  798.50  785.0          785.0
4 2008-12-22      1STBSRS             778.25  794.50  775.5          787.0

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0         826.25                    825.75     86    4.1475    5000
1         825.75                    790.00     59    2.7838    3400
2         790.00                    785.75     74    3.5270    4450
3         785.75                    782.50     38    2.0541    2600
4         782.50                    797.75     19    0.7825    1000
        date trading_code  last_traded_price    high     low  opening_price  \
0 2009-12-30      1STBSRS             1250.0  1290.0  1236.0        1280.00
1 2009-12-29      1STBSRS             1253.0  1311.0  1250.0        1250.00
2 2009-12-27      1STBSRS             1185.0  1250.0  1159.5        1250.00
3 2009-12-24      1STBSRS             1325.0  1482.0  1325.0        1482.00
4 2009-12-23      1STBSRS             1530.0  1569.0  1502.0        1541.75

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0        1253.00                   1283.25     67    5.4105    4250
1        1283.25                   1166.25     99    7.0714    5500
2        1166.25                   1325.00    429   36.9989   31650
3        1325.00                   1514.25    323   25.7783   19000
4        1514.25                   1550.50     33    3.4342    2250
        date trading_code  last_traded_price  high   low  opening_price  \
0 2010-12-30    1JANATAMF               12.9  13.9  12.3           12.3
1 2010-12-29    1JANATAMF               11.8  12.3  11.2           11.7
2 2010-12-28    1JANATAMF               11.3  11.7  11.0           11.0
3 2010-12-27    1JANATAMF               11.3  11.5  11.0           11.5
4 2010-12-26    1JANATAMF               11.6  11.8  11.2           11.6

   closing_price  yesterdays_closing_price  trade  value_mn   volume
0           13.0                      12.0   4708  124.8680  9623500
1           12.0                      11.3   1680   46.8126  3987000
2           11.3                      11.2   1077   19.3689  1698500
3           11.2                      11.4    932   13.9884  1249000
4           11.4                      11.5   1671   31.8171  2746500
        date trading_code  last_traded_price  high  low  opening_price  \
0 2011-12-29    1JANATAMF                9.0   9.0  8.6            8.6
1 2011-12-28    1JANATAMF                8.9   8.9  8.5            8.6
2 2011-12-27    1JANATAMF                8.7   8.9  8.7            8.8
3 2011-12-26    1JANATAMF                9.0   9.1  8.6            8.7
4 2011-12-22    1JANATAMF                8.8   9.3  8.5            9.0

   closing_price  yesterdays_closing_price  trade  value_mn   volume
0            8.9                       8.8    305   12.2408  1364500
1            8.8                       8.8    310   12.2788  1388000
2            8.8                       8.9    258    8.1166   916000
3            8.9                       8.9    433    7.4759   838500
4            8.9                       8.7    446   18.1195  2034500
        date trading_code  last_traded_price  high  low  opening_price  \
0 2012-12-30    1JANATAMF                7.0   7.2  7.0            7.2
1 2012-12-27    1JANATAMF                7.1   7.2  7.0            7.2
2 2012-12-26    1JANATAMF                7.1   7.3  6.9            7.0
3 2012-12-24    1JANATAMF                7.0   7.1  6.8            6.9
4 2012-12-23    1JANATAMF                6.9   7.0  6.8            6.9

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            7.0                       7.1     59    0.5651   80000
1            7.1                       7.1     73    0.9062  127500
2            7.1                       7.0    128    1.9881  277000
3            7.0                       6.8    186    3.0640  441500
4            6.8                       7.0    144    1.9875  287500
        date trading_code  last_traded_price  high  low  opening_price  \
0 2013-12-30    1JANATAMF                6.1   6.1  5.9            5.9
1 2013-12-29    1JANATAMF                6.0   6.0  5.9            6.0
2 2013-12-26    1JANATAMF                6.0   6.1  6.0            6.1
3 2013-12-24    1JANATAMF                6.0   6.1  6.0            6.1
4 2013-12-23    1JANATAMF                6.1   6.2  6.0            6.2

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            6.0                       5.9     68    0.8164  135500
1            5.9                       6.0     43    1.1277  188500
2            6.0                       6.0     48    0.7197  119500
3            6.0                       6.0     41    1.0118  167500
4            6.0                       6.1     57    1.0721  175500
        date trading_code  last_traded_price  high  low  opening_price  \
0 2014-12-30    1JANATAMF                5.1   5.2  5.0            5.0
1 2014-12-29    1JANATAMF                5.2   5.2  5.1            5.1
2 2014-12-28    1JANATAMF                5.0   5.1  5.0            5.0
3 2014-12-24    1JANATAMF                5.1   5.1  5.0            5.0
4 2014-12-23    1JANATAMF                5.1   5.2  5.1            5.1

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            5.1                       5.1    107     0.295   58281
1            5.1                       5.1     72     0.536  105156
2            5.1                       5.1     76     0.761  149956
3            5.1                       5.1     82     0.347   68661
4            5.1                       5.2     69     0.284   55476
        date trading_code  last_traded_price  high  low  opening_price  \
0 2015-12-31    1JANATAMF                4.2   4.3  4.2            4.3
1 2015-12-30    1JANATAMF                4.3   4.3  4.2            4.3
2 2015-12-29    1JANATAMF                4.2   4.3  4.2            4.2
3 2015-12-28    1JANATAMF                4.3   4.3  4.2            4.2
4 2015-12-27    1JANATAMF                4.2   4.3  4.2            4.3

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            4.3                       4.3     16     0.377   87878
1            4.3                       4.2     66     1.032  240322
2            4.2                       4.3     59     1.117  260942
3            4.3                       4.2     59     0.560  131964
4            4.2                       4.3     64     1.426  338070
        date trading_code  last_traded_price  high  low  opening_price  \
0 2016-12-29    1JANATAMF                5.8   6.2  5.8            6.2
1 2016-12-28    1JANATAMF                6.2   6.4  6.0            6.1
2 2016-12-27    1JANATAMF                5.9   5.9  5.4            5.4
3 2016-12-26    1JANATAMF                5.3   5.4  5.2            5.2
4 2016-12-22    1JANATAMF                5.2   5.3  5.1            5.1

   closing_price  yesterdays_closing_price  trade  value_mn   volume
0            5.9                       6.2    443    26.409  4427760
1            6.2                       5.9    576    40.639  6503967
2            5.9                       5.4    385    32.014  5650124
3            5.4                       5.2    133    10.447  1966696
4            5.2                       5.1    111     9.652  1857034

        date trading_code  last_traded_price  high  low  opening_price  \
0 2017-12-28    1JANATAMF                6.4   6.5  6.4            6.4
1 2017-12-27    1JANATAMF                6.5   6.5  6.4            6.5
2 2017-12-26    1JANATAMF                6.5   6.6  6.4            6.5
3 2017-12-24    1JANATAMF                6.6   6.6  6.4            6.5
4 2017-12-21    1JANATAMF                6.6   6.6  6.4            6.4

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            6.4                       6.5     79     1.888  294720
1            6.5                       6.5     73     1.295  200062
2            6.5                       6.5    103     4.119  630548
3            6.5                       6.5     46     0.654  101104
4            6.5                       6.4     24     0.241   37098
        date trading_code  last_traded_price  high  low  opening_price  \
0 2018-12-27    1JANATAMF                4.4   4.5  4.3            4.3
1 2018-12-26    1JANATAMF                4.4   4.4  4.3            4.4
2 2018-12-24    1JANATAMF                4.4   4.4  4.3            4.3
3 2018-12-23    1JANATAMF                4.4   4.4  4.3            4.4
4 2018-12-20    1JANATAMF                4.3   4.4  4.3            4.4

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            4.4                       4.4     23     0.132   29779
1            4.4                       4.3     42     0.283   64576
2            4.3                       4.4     18     0.048   11102
3            4.4                       4.3     28     0.147   33804
4            4.3                       4.4     20     0.083   19261
        date trading_code  last_traded_price  high  low  opening_price  \
0 2019-12-30    1JANATAMF                4.3   4.3  4.2            4.2
1 2019-12-29    1JANATAMF                4.2   4.3  4.2            4.2
2 2019-12-26    1JANATAMF                4.3   4.3  4.2            4.2
3 2019-12-24    1JANATAMF                4.2   4.3  4.2            4.2
4 2019-12-23    1JANATAMF                4.3   4.3  4.2            4.2

   closing_price  yesterdays_closing_price  trade  value_mn  volume
0            4.3                       4.2     29     0.898  208957
1            4.2                       4.3     33     1.215  289149
2            4.3                       4.2     13     0.172   40362
3            4.2                       4.2     34     0.839  199583
4            4.2                       4.2     34     0.969  230775
        date trading_code  last_traded_price  high  low  opening_price  \
0 2020-12-30    1JANATAMF                6.0   6.1  5.9            6.1
1 2020-12-29    1JANATAMF                6.1   6.3  6.0            6.2
2 2020-12-28    1JANATAMF                6.1   6.2  5.9            5.9
3 2020-12-27    1JANATAMF                5.9   6.0  5.8            5.9
4 2020-12-24    1JANATAMF                5.8   5.9  5.6            5.6

   closing_price  yesterdays_closing_price  trade  value_mn   volume
0            6.0                       6.0    271     7.694  1287797
1            6.0                       6.1    244     8.189  1348470
2            6.1                       5.9    339    14.594  2424350
3            5.9                       5.8    219     7.333  1241056
4            5.8                       5.7    194     4.993   869684

In [44]:
concat_frame = pd.concat(prices_frames)
concat_frame

,date,trading_code,last_traded_price,high,low,opening_price,closing_price,yesterdays_closing_price,trade,value_mn,volume
0,2008-12-30,1STBSRS,823.00,840.00,819.0,825.0,826.25,825.75,86,4.1475,5000
1,2008-12-28,1STBSRS,817.00,829.00,802.0,802.0,825.75,790.00,59,2.7838,3400
2,2008-12-24,1STBSRS,789.00,809.75,786.0,790.0,790.00,785.75,74,3.5270,4450
3,2008-12-23,1STBSRS,785.00,798.50,785.0,785.0,785.75,782.50,38,2.0541,2600
4,2008-12-22,1STBSRS,778.25,794.50,775.5,787.0,782.50,797.75,19,0.7825,1000
...,...,...,...,...,...,...,...,...,...,...,...
116738,2020-01-07,ZEALBANGLA,30.90,30.90,30.9,30.9,30.90,34.30,1,0.0030,100
116739,2020-01-06,ZEALBANGLA,34.30,34.30,34.3,34.3,34.30,33.30,1,0.0030,100
116740,2020-01-05,ZEALBANGLA,33.30,33.30,33.3,33.3,33.30,32.40,2,0.0000,2
116741,2020-01-02,ZEALBANGLA,32.40,32.40,32.4,32.4,32.40,31.40,1,0.0000,1
116742,2020-01-01,ZEALBANGLA,31.40,31.40,31.4,31.4,31.40,29.60,1,0.0000,1

In [40]:
concat_frame.to_csv('dsebd.csv', encoding='utf-8')

In [45]:
info_frame.to_csv('meta_data.csv', encoding='utf-8')

In [49]:
stock_price_np = concat_frame.to_numpy()
stock_price_np

array([[Timestamp('2008-12-30 00:00:00'), '1STBSRS', 823.0, ..., 86,
        4.1475, 5000],
       [Timestamp('2008-12-28 00:00:00'), '1STBSRS', 817.0, ..., 59,
        2.7838000000000003, 3400],
       [Timestamp('2008-12-24 00:00:00'), '1STBSRS', 789.0, ..., 74,
        3.527, 4450],
       ...,
       [Timestamp('2020-01-05 00:00:00'), 'ZEALBANGLA', 33.3, ..., 2,
        0.0, 2],
       [Timestamp('2020-01-02 00:00:00'), 'ZEALBANGLA', 32.4, ..., 1,
        0.0, 1],
       [Timestamp('2020-01-01 00:00:00'), 'ZEALBANGLA', 31.4, ..., 1,
        0.0, 1]], dtype=object)

In [52]:
pd.read_csv('meta_data.csv')

     Unnamed: 0 trading_code                       sector instrument_type
0             0       ABBANK                         Bank          Equity
1             1          ACI  Pharmaceuticals & Chemicals          Equity
2             2         ACFL                      Textile          Equity
3             3    AAMRATECH                    IT Sector          Equity
4             4    1JANATAMF                 Mutual Funds     Mutual Fund
..          ...          ...                          ...             ...
584         584    UNITEDFIN       Financial Institutions          Equity
585         585       UPGDCL                 Fuel & Power          Equity
586         586   UTTARABANK                         Bank          Equity
587         587    VAMLBDMF1                 Mutual Funds     Mutual Fund
588         588   WMSHIPYARD                  Engineering          Equity

[589 rows x 4 columns]